{{!-- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. --}}

<!-- Start of footer include. -->
<!-- End of footer include. -->

<footer class="dark-primary-background">
  <div class="offline-status">Offline</div>
  <ul>
    <li>   
      <a href="https://github.com/GoogleChrome/gulliver" target="_blank" rel="noopener">
        <img id="github-logo" class="github-logo" srcset="/img/GitHub-Mark-Light-24px.png 1x, /img/GitHub-Mark-Light-48px.png 2x" width="24" height="24" alt="Github" attribution="github">
        <span>View on Github</span>
      </a>
    </li>
    <li><a href="https://github.com/GoogleChrome/gulliver/issues/new">feedback</a></li>
    <li><a href="https://www.google.com/intl/en/policies/privacy/">privacy</a></li>
    <li>
      <a href="http://feeds.feedburner.com/PwaDirectory" target="_blank" rel="noopener">
        <img id="rss-logo" class="rss-logo" srcset="/img/feed-icon-24px.png 1x, /img/feed-icon-48px.png 2x" width="24" height="24" alt="RSS">
      </a>
    </li>
  </a>
  </ul>
<footer>
<script async src="https://www.google-analytics.com/analytics.js"></script>
