<main>
    <form id="pwaForm" method="POST">
    <div class="form-group">
        <label for="manifestUrl">Manifest URL</label>
        <input type="text" name="manifestUrl" id="manifestUrl" class="form-input" value="{{pwa.manifestUrl}}" autofocus>
        <button id="pwaSubmit" type="submit" class="button button-primary gulliver-signedin-aware gulliver-online-aware"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
    </div>
    {{#if error}}
    <p class="error">Error: {{error}}.</p>
    {{/if}}
    <input id="idToken" type="hidden" name="idToken" />
    </form>
    </div>            
</main>