{{!-- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. --}}

<!-- Start of header include. -->
<div class="navbar">
  <div class="navbar-title"><a id="title" href="/">PWA Directory</a></div>
  <div class="navbar-subtitle hide-on-mobile">
    <a id="subtitle" href="/">A Directory of Progressive Web Apps</a>
  </div>
  <a id="github" href="https://github.com/GoogleChrome/gulliver" target="_blank">
    <img id="github-logo" class="github-logo" srcset="/img/GitHub-Mark-Light-32px.png 1x, /img/GitHub-Mark-Light-64px.png 2x" width="24" height="24" alt="Github" attribution="github">
    <span class="hide-on-mobile">View on Github</span>
  </a>

  <button
    id="auth-button"
    class="button blue gulliver-online-aware gulliver-signedin-aware">Login</button>
</div>

<!-- End of header include. -->
