{{!-- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. --}}

<!-- Start of header include. -->
<div class="navbar dark-primary-background">
  <div class="navbar-title"><a id="title" class="gulliver-content-only offline-aware" href="/">PWA Directory</a></div>
  <div class="navbar-subtitle hide-on-mobile">
    <a id="subtitle" href="/" class="gulliver-content-only offline-aware">A Directory of Progressive Web Apps</a>
  </div>

  <div class="notifications">
    <input type="checkbox" id="notifications" class="switch hidden"/>
    {{> notifications_active }}
    {{> notifications_off }}
    <label for="notifications" class="switch-label box-shadow"></label>
  </div>
</div>

<div class="section dark-primary-background box-shadow">
  <a id="backlink" class="back{{#unless backlink}} hidden{{/unless}}">{{> chevron_left }}</a>
  <div class="section-top">
    <form id="search" class="search-form">
      <div class="search-group">
        <input id="search-input" type="text" name="search" class="form-input box-shadow" value="{{searchQuery}}" placeholder="Search for PWAs" aria-label="Seach for PWAs">
        <a id="search-icon">{{> icon_search }}</a>
      </div>
    </form>
      <button id="share-button" class="toolbar-button button blue offline-aware" aria-label="Share">
        <span class="toolbar-icon">{{> icon_share}}</span>
      </button>
      <button id="signin-button" class="toolbar-button button blue offline-aware" aria-label="Sign In">
        <span class="auth-button-label-login toolbar-icon">{{> icon_log_in}}</span>
      </button>
      <button id="signout-button" class="toolbar-button button blue offline-aware hidden" aria-label="Sign Out">
        <span class="auth-button-label-logout toolbar-icon">{{> icon_log_out}}</span>
      </button>
  </div>
  <div id="tabs" class="section-tabs{{#unless mainPage}} hidden{{/unless}}">
    <a id="installable"
      class="tab{{#if (equals currentTab 'installable')}} activetab{{/if}} gulliver-content-only offline-aware"
      href="/">
      Installable
    </a>
    <a id="newest"
      class="tab{{#if (equals currentTab 'newest')}} activetab{{/if}} gulliver-content-only offline-aware"
      href="/pwas/newest">
      New
    </a>
    <a id="score"
      class="tab{{#if (equals currentTab 'score')}} activetab{{/if}} gulliver-content-only offline-aware"
      href="/pwas/score">
      Score
    </a>
  </div>
</div>
<!-- End of header include. -->
