<section class="detail-general">
  <h3>LIGHTHOUSE  {{> score pwa}} </h3>  
  <div class="chart" type='lighthouse' {{#if pwa.id }} pwa={{pwa.id}} {{/if}}>
    <div id="chart-missing" class="hidden">No lighthouse data available</div>
  </div>
  {{#if lighthouse.lighthouseInfo.reportCategories}}
  <div class="lighthouse-details">
    <a href="https://web-performance-dot-pwa-directory.appspot.com/lighthouse-viewer/?pwadir={{pwa.id}}" target="_blank" rel="noopener">
      <img src="/img/lh_logo_bg.png" class="viewer-placeholder-logo" alt="Lighthouse logo">
      <span>Lighthouse Report Viewer</span>
    </a>
  </div>
  {{/if}}
</section>
