<section class="detail-general">
  <h3>LIGHTHOUSE  {{> score pwa}} </h3>    
  <div class="chart" type='lighthouse' {{#if pwa.id }} pwa={{pwa.id}} {{/if}}>
    <div id="chart-missing" class="hidden">No lighthouse data available</div>
  </div>
  {{#if lighthouse.lighthouseInfo.reportCategories}}
  <input id="toggle" type="checkbox" checked>
  <label id="lighthouse-details" for="toggle">Details</label>
  <div id="expand">
    {{#each lighthouse.lighthouseInfo.reportCategories}}
    <table>
      <thead>
        {{{getReportCategoryTableRow this}}}
      </thead>
      <tbody>
        {{#each this.audits}}
          {{{getAuditTableRow this}}}
        {{/each}}
      </tbody>
    </table>
    {{/each}}
  </div>
  {{/if}}
</section>
