<section class="detail-general">
  <h3>LIGHTHOUSE  {{> score pwa}} </h3>    
  <div id="chart" {{#if pwa.id }} pwa={{pwa.id}} {{/if}}>
    <div id="chart-missing" class="hidden">No lighthouse data available</div>
  </div>
</section>
{{#if lighthouse.lighthouseInfo.aggregation.scores}}
<section class="detail-general">
  <table>
    <thead>
      <tr>
        <th scope="col">Aggregated Checks</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each lighthouse.lighthouseInfo.aggregation.scores}} 
        {{{getAggregationTableRow this}}}
      {{/each}}
    </tbody>
  </table>
</section>
{{/if}}
{{#if lighthouse.lighthouseInfo.audits}}
<section class="detail-general">
  <table>
    <thead>
      <tr>
        <th scope="col">Audits</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each lighthouse.lighthouseInfo.audits }} 
        {{{getAuditTableRow this}}}
      {{/each}}
    </tbody>
  </table>      
</section>
{{/if}}
