<div class="detail-general manifest-detail">
  <div class="detail-header">
    <h3><a href="{{pwa.manifestUrl}}" target="_blank">MANIFEST</a></h3>
  </div>
  <div>
    <pre>{{{highlightedJson pwa.manifest}}}</pre>
  </div>
</div>
