<section class="detail-general">
  <h3>PageSpeed Insights</h3>
  <div class="chart" id="psi-chart" {{#if pwa.id }} pwa={{pwa.id}} {{/if}}>
    <div id="chart-missing" class="hidden">No PageSpeed Insights data available</div>
  </div>
</section>
