{{> pwadetails pwa=pwa}}
{{> lighthouse lighthouse=lighthouse}}
{{#if pwa.manifest}}
<div class="detail-general">
<h3><a href="{{pwa.manifestUrl}}" target="_blank">MANIFEST</a></h3>
<pre>{{{highlightedJson rawManifestJson}}}</pre>
</div>
{{/if}}

