<section class="detail-general">
  <h3>WebPageTest</h3>
  <div class="chart" id="wpt-chart" {{#if pwa.id }} pwa={{pwa.id}} {{/if}}>
    <div id="chart-missing" class="hidden">No WebPageTest Insights data available</div>
  </div>
</section>
