<!-- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. -->
 
{{#unless contentOnly}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> header}}
    <main>
{{/unless}}
      <form id="pwaForm" method="POST">
      <div class="form-group">
          <label for="manifestUrl">Manifest URL</label>
          <input type="text" name="manifestUrl" id="manifestUrl" class="form-input" value="{{pwa.manifestUrl}}" autofocus>
          <button id="pwaSubmit" type="submit" href="/pwas/add" class="button button-primary offline-aware signin-aware">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
      </div>
      {{#if error}}
      <p class="error">Error: {{error}}.</p>
      {{/if}}
      <input id="idToken" type="hidden" name="idToken" />
      </form>
      </div>            
{{#unless contentOnly}}
    </main>
    {{> footer}}
  </body>
</html>
{{/unless}}
