<!-- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> header}}    
    <div class="section-title">
      <a href="{{backlink}}" class="back"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    </div>
    <main>
      {{> pwadetails pwa=pwa}}
      {{> lighthouse lighthouse=lighthouse}}
      {{#if pwa.manifest}}
      <div class="detail-general manifest-detail">
        <div class="detail-header">
          <h3><a href="{{pwa.manifestUrl}}" target="_blank">MANIFEST</a></h3>
        </div>
        <div>
        <pre>{{{highlightedJson rawManifestJson}}}</pre>
        </div>
      </div>
      {{/if}}
    </main>
    {{> footer}}
  </body>
</html>
